body {
  font-family: "Computer Modern Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.plots-container {
  width: 120vb;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-label {
  margin: 0 10px;
}

.slider {
  width: 200px;
  margin: 0 10px;
}
.reset-container {
  display: flex;
  justify-content: center;
}
